.searchBar {
    /* background-image: url(https://fondosmil.com/fondo/24186.jpg); */
    background-color: #d5dade;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;


    
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}
.form select{
    background-color: #d5dade;
    border: 1px #d5dade solid;
    height: 30px;
    border-radius: 5px;
    color: rgb(67, 67, 67);
}
.form select:hover{
border: 1px solid rgb(67, 67, 67);
}

.recipeList{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left:  120px;
    margin-right: 120px;
    width:75%;
    padding:0 6px;
   
}
.searchBarInput input{
    border:1px solid rgb(67, 67, 67);
    height: 25px;
    width: 200px;
    margin-top: -5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Oxygen', sans-serif;
}
.searchBarInput input:focus-visible{
outline: none;
}


.button-search {
    border:1px solid rgb(67, 67, 67);
    color:rgb(67, 67, 67);
    background-color: #e8eff5;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 60px;
}
.button-search:hover{
    background-color:rgb(67, 67, 67) ;
    color: #DCE3E8;
}

.button-reset {
    border:1px solid rgb(67, 67, 67);
    color:rgb(67, 67, 67);
    background-color: #e8eff5;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}
.button-reset:hover {
    background-color:rgb(67, 67, 67);
    color: #DCE3E8;
}
.searchSelects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 700px;
}
.searchBarAndReset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 400px;
}
@media (max-width: 1000px){
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width: 700px){
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .searchSelects{
        width: 80%;
    }
    .searchBarAndReset{
        width: 90%;
    }
    .form select{
        border: 1px solid grey;
        margin: 0px;
        width: 90%;
    }
    .searchBarInput input{
        width: 70%;
        margin-top: 0px;
    }
    .searchBarInput{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }
    .button-reset{
        margin-top: 5px;
    }
}







